a{
  cursor: pointer;
}

a{
  text-decoration: none;

}

a:visited {
  color: #333333
}

.Footer-BG {
  width: 100%;
  height: 25vh;
  min-height: 250px;
  object-fit: contain;
  background-color: #000000;
      position: relative;
}


.Terms-conditions {
  width: 220px;
  height: 15px;
  object-fit: contain;
    font-size: 19.5px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}

.Tearms-conditionsHolder {
  width: 290px;
  height: 41px;
  object-fit: contain;

  text-align: center;
  margin-top: 58px;
}

.Faq-conditionsHolder{
  width: 111px;
 height: 41px;
 object-fit: contain;
 text-align: center;
 margin-top: 58px;
}

.Privacy-conditionsHolder{
  width: 237px;
 height: 41px;
 object-fit: contain;
 text-align: center;
 margin-top: 58px;
}

.linkedin-logo {
  width: 22px;
  height: 22px;
  object-fit: contain;

}

.facebook-letter-logo {
  width: 21px;
  height: 23px;
  object-fit: contain;

}

.twitter-logo {
  width: 22px;
  height: 22px;
  object-fit: contain;

}

.imageHolder{
      margin: 0.5vw;
}

.LaMark2018Disney2018DisneyPixar {
  width: 100%;
  height: 15px;
  object-fit: contain;
  opacity: 0.75;
  font-size: 14.3px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin: 5% auto 0px auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}

.LaMark2018Disney2018DisneyPixar a {
  color: deepskyblue;
}

.credits{
  flex-direction: column;
}

.captcha{
  margin-top: 10px;
  white-space: normal;
}

.limiter {

 height: 41px;
 object-fit: contain;
 border-radius: 1.5px;
 background-color: #ffffff;
 color: white;
 margin-top: 46px;
}

#followUs{
  padding-left: 20px;
}


/*----------------------------------------------MOBILE--------------------------------------------------*/
@media only screen and (max-width: 769px) {
.Footer-BG{
  width: 100vw;
  height: fit-content;
  -o-object-fit: contain;
  object-fit: contain;
  background-color: #000000;
  position: relative;
  bottom: 0px;
  }

  .Terms-conditions{
    width: 220px;
height: 15px;
-o-object-fit: contain;
object-fit: contain;
font-size: 0.8em;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: 1px;
text-align: center;
color: #ffffff;
  }

  #followUs{
    padding-left: 0;
  }

  .mat-toolbar-row{
    height: auto;
    flex-direction: column;
  }

  .limiter{
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 1.5px;
    background-color: #ffffff;
    color: white;
    margin-top: 0px;
    transform: rotate(90deg);
  }

  .Tearms-conditionsHolder{
    width: 100vw;
height: 41px;
-o-object-fit: contain;
object-fit: contain;
text-align: center;
margin-top: 3vh;
  }

  .Faq-conditionsHolder{
    margin-top: 0px;
  }

  .imageHolder{
        margin: 2vw;
  }

  .Privacy-conditionsHolder{
    margin-top: 0px;
  }

  .LaMark2018Disney2018DisneyPixar {
    width: auto;
    height: fit-content;
  }

  .captcha{
    padding-bottom: 3%
  }


}
