<mat-toolbar class="Footer-BG">
  <mat-toolbar-row style="justify-content: center;">
    <a class="Tearms-conditionsHolder" [attr.href]="dstBaseUrl + languageMod + termsExt">
      <span class="Terms-conditions"> {{'terms' | translate | uppercase}}</span>
      </a>
      <label class="limiter"> |</label>
      <a class="Faq-conditionsHolder" [attr.href]="dstBaseUrl + languageMod">
        <span class="Terms-conditions"> {{'faq' | translate | uppercase}}</span>
        </a>
      <label class="limiter"> |</label>
      <a class="Privacy-conditionsHolder" [attr.href]="dstBaseUrl + languageMod + privacyExt">
        <span class="Terms-conditions"> {{'privacy' | translate | uppercase}}</span>
        </a>
        <label class="limiter"> |</label>
        <a class="Privacy-conditionsHolder">
          <span style="margin-top: 3px;float:left;width: 120px;margin-left: 20px;" class="Terms-conditions"> {{'follow' | translate | uppercase}}</span>
          <span>
            <a class="imageHolder" (click)="hrefSocial('linkedin')">
              <img src="assets/footer/linkedin_logo.png"
     srcset="assets/footer/linkedin_logo@2x.png 2x,
             assets/footer/linkedin_logo@3x.png 3x"
     class="linkedin-logo">
             </a>
             <a class="imageHolder" (click)="hrefSocial('facebook')">
               <img src="assets/footer/facebook_letter_logo.png"
      srcset="assets/footer/facebook_letter_logo@2x.png 2x,
              assets/footer/facebook_letter_logo@3x.png 3x"
      class="facebook-letter-logo">
              </a>
              <a class="imageHolder" (click)="hrefSocial('twitter')">
                <img src="assets/footer/twitter_logo.png"
       srcset="assets/footer/twitter_logo@2x.png 2x,
               assets/footer/twitter_logo@3x.png 3x"
       class="twitter-logo">
               </a>
            </span>
          </a>
  </mat-toolbar-row>

  <mat-toolbar-row class="credits">
    <p class="LaMark2018Disney2018DisneyPixar">©2018 La Mark | ©2018 Disney | ©2018 Disney/Pixar</p>
    <p class="LaMark2018Disney2018DisneyPixar captcha">This site is protected by reCAPTCHA and the Google
     <a href="https://policies.google.com/privacy">Privacy Policy</a> and
    <a href="https://policies.google.com/terms">Terms of Service</a> apply.</p>
  </mat-toolbar-row>
</mat-toolbar>
