<a class="closeBtn" style="margin-left: 700px;cursor:pointer" (click)="closePopUp()">
<img src="./assets/popup/cancel_pop_up_icon.png"

   class="Cancel-PopUp-icon"></a>
<div class="PopUpBox">

  <div>
    <img src="./assets/popup/disney_characters.png"

     class="PopUp-Box">
  </div>
  <div>
    <p ><label class="availableNow">{{available.engText | uppercase}}</label></p>
    <div class="buttonContainer">
      <a class="apple" style="height: 55px;margin-left: 25%;padding-top: 10px;cursor:pointer">
      <img src="./assets/popup/App_Store_Badge.svg"
         class="Buy-Buttons " style="height: 55px;">
         </a>
         <a style="cursor:pointer" class="google" href=" https://go.onelink.me/app/d29e2f84">
         <img src="./assets/popup/google_play_badge.png"

            class="Buy-Buttons"></a>
    </div>

  </div>
</div>
