<a class="closeBtn" style="margin-left: 700px;cursor:pointer" (click)="closePopUp()">
  <div _ngcontent-c2="" class="ng-tns-c2-0 open promoPopup" id="nav-icon3"><span _ngcontent-c2="" class="ng-tns-c2-0"></span><span _ngcontent-c2="" class="ng-tns-c2-0"></span><span _ngcontent-c2="" class="ng-tns-c2-0"></span><span _ngcontent-c2=""
      class="ng-tns-c2-0"></span></div>
</a>
<div class="PopUpBox">

  <div>
    <img src="./assets/popup/disney_characters.png" class="PopUp-Box">
  </div>
  <div>
    <p><label class="availableNow">{{available.engText | uppercase}}</label></p>
    <div class="buttonContainer">
      <a class="apple" style="height: 55px;margin-left: 25%;padding-top: 10px;cursor:pointer">
        <img src="./assets/popup/App_Store_Badge.svg" class="Buy-Buttons " style="height: 55px;">
      </a>
      <a style="cursor:pointer" class="google" href=" https://go.onelink.me/app/d29e2f84">
        <img src="./assets/popup/google_play_badge.png" class="Buy-Buttons"></a>
    </div>

  </div>
</div>
