<div class="mMainMenu" [style.opacity]="menuAlpha">
  <a class="MenuCloseBtn"  (click)="toggleMenu()">
<!--  <img [@iconFade]="isMenuOpen? 'menuOpen' : 'menuClosed'" [src]="isMenuOpen? './assets/menu/mobile/menu_close.png' : './assets/menu/mobile/menu.png'"
       class="MenuClose">-->
       <div id="nav-icon3">
 <span></span>
 <span></span>
 <span></span>
 <span></span>
</div>
     </a>

       <a routerLink="" class="Kantoo-IconBtn">
       <img src="assets\menu\mobile\kantoo-icon.png"
          class="Kantoo-Icon"></a></div>
          <mat-accordion [multi]="true" [@toggleMenu]="isMenuOpen? 'menuOpen' : 'menuClosed'">
        <mat-expansion-panel [disabled]="true" style="    background-color: #efefef;">
          <mat-expansion-panel-header style="height:auto;background: #efefef;">
            <mat-panel-title >
            <p class="menuText" style="margin-top: 25%;"><a routerLink="/our-app" routerLinkActive="menuActiveOurApp menuActive" style="text-decoration:none">  {{ourAppLoc.engText | uppercase}}</a></p>
            </mat-panel-title>

          </mat-expansion-panel-header>



        </mat-expansion-panel>

        <mat-expansion-panel style="    background-color: #efefef;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <p class="menuText" style="margin-top: 5%;text-decoration:none; "><a routerLink="/learning-with-disney" routerLinkActive="menuActiveLearning menuActive" >{{learningDisneyLoc.engText | uppercase}}</a></p>
            </mat-panel-title>

          </mat-expansion-panel-header>

          <p class="movieTitl" ><a routerLink="/learning-with-disney" style="text-decoration:none;font-weight: 800;-webkit-text-fill-color: #333333;">All Movies</a></p>
          <p class="movieTitl" style="-webkit-text-fill-color: #333333;">Frozen</p>
          <p class="movieTitl" style="-webkit-text-fill-color: #333333;">Moana</p>
          <p class="movieTitl" style="-webkit-text-fill-color: #333333;">Toy Story 3</p>
          <p class="movieTitl" style="-webkit-text-fill-color: #333333;">Zootopia</p>
          <p class="movieTitl" style="-webkit-text-fill-color: #333333;">Cars</p>
          <p class="movieTitl" style="-webkit-text-fill-color: #333333;">Finding Dory</p>


        </mat-expansion-panel>

        <mat-expansion-panel [disabled]="true" style="background-color: #efefef;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <p class="menuText" style="margin-top: 5%;"><a routerLink="/kantoo-blog" routerLinkActive="menuActiveLearning menuActive" style="-webkit-text-fill-color: transparent;">{{kantooBlogLoc.engText | uppercase}}</a></p>
            </mat-panel-title>

          </mat-expansion-panel-header>




        </mat-expansion-panel>

        <mat-expansion-panel [disabled]="true" style="    background-color: #efefef;">
          <mat-expansion-panel-header style="height:auto;background: #efefef;">
            <mat-panel-title >
            <p class="menuText" ><a href="http://www.kantoo.com/en/" style="-webkit-text-fill-color: transparent;">  {{legacyLoc.engText | uppercase}}</a></p>
            </mat-panel-title>

          </mat-expansion-panel-header>



        </mat-expansion-panel>

        <mat-expansion-panel [disabled]="true" style="    background-color: #efefef;">
          <mat-expansion-panel-header style="height:auto;background: #efefef;">
            <mat-panel-title >
            <p class="menuText" ><a routerLink="/contact" routerLinkActive="menuActiveLearning menuActive" style="-webkit-text-fill-color: transparent;">  {{contactLoc.engText | uppercase}}</a></p>
            </mat-panel-title>

          </mat-expansion-panel-header>



        </mat-expansion-panel>

        <mat-expansion-panel style="    background-color: #efefef;height: -webkit-fill-available;    text-align: -webkit-center; -webkit-text-fill-color: transparent;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <p class="menuText" style="margin-top: 5%;margin-left: 2.5%;"><a>{{language.engText | uppercase}}</a></p>
            </mat-panel-title>

          </mat-expansion-panel-header>

          <a class="menuTextLang"  routerLinkActive="langActive ">EN</a>
          <a class="menuTextLang" style="margin-left: 10px; pointer-events: none">|</a>
          <a class="menuTextLang" style="margin-left: 10px" routerLinkActive="langActive">PT</a>
          <a class="menuTextLang" style="margin-left: 10px; pointer-events: none">|</a>
          <a class="menuTextLang" style="margin-left: 10px;" routerLinkActive="langActive">ES</a>


        </mat-expansion-panel>


        </mat-accordion>
