<div class="mMainMenu" [style.opacity]="menuAlpha">
  <a class="MenuCloseBtn"  (click)="toggleMenu()">
<!--  <img [@iconFade]="isMenuOpen? 'menuOpen' : 'menuClosed'" [src]="isMenuOpen? './assets/menu/mobile/menu_close.png' : './assets/menu/mobile/menu.png'"
       class="MenuClose">-->
       <div id="nav-icon3">
 <span></span>
 <span></span>
 <span></span>
 <span></span>
</div>
     </a>

       <a routerLink="" class="Kantoo-IconBtn">
       <img src="assets\menu\mobile\kantoo-icon.png"
          class="Kantoo-Icon"></a></div>
          <mat-accordion id="mobileMenuContent" [multi]="true" [@toggleMenu]="isMenuOpen? 'menuOpen' : 'menuClosed'">
        <mat-expansion-panel [disabled]="true" style="    background-color: #efefef;">
          <mat-expansion-panel-header style="height:auto;background: #efefef;">
            <mat-panel-title >
            <p class="menuText" style="margin-top: 25%;"><a routerLink="/our-app" routerLinkActive="menuActiveOurApp menuActive" style="text-decoration:none">  {{'ourApp' | translate  | uppercase}}</a></p>
            </mat-panel-title>

          </mat-expansion-panel-header>



        </mat-expansion-panel>

        <mat-expansion-panel style="background-color: #efefef;" (closed)="matClosed()" (opened)="matOpened()">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <p class="menuText" style="margin-top: 5%;text-decoration:none; "><a routerLink="/learning-with-disney" routerLinkActive="menuActiveLearning menuActive" >{{'learning' | translate | uppercase}}</a></p>
            </mat-panel-title>

          </mat-expansion-panel-header>

          <p class="movieTitl" ><a routerLink="/learning-with-disney" style="text-decoration:none;font-weight: 800;-webkit-text-fill-color: #333333;">All Movies</a></p>
          <p *ngFor="let movie of movies; index as i" class="movieTitl" style="-webkit-text-fill-color: #333333;"><a routerLinkActive="menuActiveOurApp menuActive" routerLink="/learning-with-disney/{{movie.id}}">{{capitalize(movie.name)}}</a></p>

        </mat-expansion-panel>



        <mat-expansion-panel [disabled]="true" style="    background-color: #efefef;">
          <mat-expansion-panel-header style="height:auto;background: #efefef;">
            <mat-panel-title >
            <p class="menuText" ><a href="http://www.kantoo.com/en/" style="-webkit-text-fill-color: transparent;">  {{'ourLegacy' | translate | uppercase}}</a></p>
            </mat-panel-title>

          </mat-expansion-panel-header>



        </mat-expansion-panel>

        <mat-expansion-panel [disabled]="true" style="    background-color: #efefef;">
          <mat-expansion-panel-header style="height:auto;background: #efefef;">
            <mat-panel-title >
            <p class="menuText" ><a routerLink="/contact" routerLinkActive="menuActiveLearning menuActive" style="-webkit-text-fill-color: transparent;">  {{'contact' | translate | uppercase}}</a></p>
            </mat-panel-title>

          </mat-expansion-panel-header>



        </mat-expansion-panel>

        <mat-expansion-panel style="    background-color: #efefef;height: -webkit-fill-available;    text-align: -webkit-center; -webkit-text-fill-color: transparent;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <p class="menuText" style="margin-top: 5%;margin-left: 2.5%;"><a>{{'lang' | translate | uppercase}}</a></p>
            </mat-panel-title>

          </mat-expansion-panel-header>

          <a class="menuTextLang menuTextLangPressed"  (click)="switchLanguage('en',$event)">EN</a>
          <a class="menuTextLang" style="margin-left: 10px; pointer-events: none">|</a>
          <a class="menuTextLang" style="margin-left: 10px" (click)="switchLanguage('pt',$event)">PT</a>
          <a class="menuTextLang" style="margin-left: 10px; pointer-events: none">|</a>
          <a class="menuTextLang" style="margin-left: 10px;" (click)="switchLanguage('es',$event)">ES</a>


        </mat-expansion-panel>


        </mat-accordion>
