.sub-menu{
  width: 100vw;
  max-height: 210px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;

}

.arrow{
  width: 29px;
 height: 29px;
 margin-top: 25px;
 object-fit: contain;
 cursor: pointer;

}

.movie-section{
  width: 87%;
      /* width: 1603px; */
      min-height: 120px;
      /* margin-left: 50px; */
      float: left;
      overflow: hidden;
      display: flex;
      /* position: absolute; */
      margin-top: 90px;
      flex-wrap: nowrap;
      /* flex-grow: 1; */
      justify-content: space-around;
}

app-movie-item{
  cursor: pointer;
  margin-top: 10px;
}
