<!--<div class="navmenu">-->
<mat-toolbar class="navmenu">
  <mat-toolbar-row>
  <a routerLink="" style="margin-right: 20%;">
  <img src="assets\menu\kantoo-icon.jpg"
     srcset="assets\menu\kantoo-icon@2x.png 2x,
             assets\menu\kantoo-icon@3x.png 3x"
     class="Kantoo-Icon"></a>


<a class="menuItem" routerLink="/our-app" routerLinkActive="menuActiveOurApp menuActive">{{ourAppLoc.engText | uppercase}}</a>
<a class="menuItem expandable" style="width: fit-content" routerLink="/learning-with-disney" routerLinkActive="menuActiveLearning menuActive">{{learningDisneyLoc.engText | uppercase}}
  <img src="assets\menu\drop-down.svg"
     class="Drop-Down">
     <app-sub-menu></app-sub-menu>
   </a>
<a class="menuItem expandable" style="width: fit-content" routerLink="/kantoo-blog" routerLinkActive="menuActiveBlog menuActive">{{kantooBlogLoc.engText | uppercase}}<img src="assets\menu\drop-down.svg"
          class="Drop-Down">
<!--<app-sub-menu></app-sub-menu>-->
        </a>
<a class="menuItem" routerLink="/our-legacy" routerLinkActive="menuActiveLegacy menuActive">{{legacyLoc.engText | uppercase}}</a>
<a class="menuItem" routerLink="/contact" routerLinkActive="menuActiveContact menuActive">{{contactLoc.engText | uppercase}}</a>


<a class="lang" style="margin-left: 18%;" routerLinkActive="langActive ">EN</a>
<a class="lang" style="margin-left: 17px">|</a>
<a class="lang" style="margin-left: 17px" routerLinkActive="langActive">PR</a>
<a class="lang" style="margin-left: 17px">|</a>
<a class="lang" style="margin-left: 17px" routerLinkActive="langActive">SP</a>
</mat-toolbar-row>
</mat-toolbar>

<!--</div>-->
