<div class="navmenu">
  <img src="assets\menu\kantoo-icon.jpg"
     srcset="assets\menu\kantoo-icon@2x.png 2x,
             assets\menu\kantoo-icon@3x.png 3x"
     class="Kantoo-Icon">


<a class="menuItem" >{{ourAppLoc.engText | uppercase}}</a>
<a class="menuItem expandable" style="width: fit-content">{{learningDisneyLoc.engText | uppercase}}<img src="assets\menu\drop-down.svg"
     class="Drop-Down"></a>
<a class="menuItem expandable" style="width: fit-content">{{kantooBlogLoc.engText | uppercase}}<img src="assets\menu\drop-down.svg"
          class="Drop-Down"></a>
<a class="menuItem" >{{reviewsLoc.engText | uppercase}}</a>
<a class="menuItem" >{{legacyLoc.engText | uppercase}}</a>
<a class="menuItem" >{{contactLoc.engText | uppercase}}</a>


<a class="lang" style="margin-left: 30%;">EN</a>
<a class="lang" style="margin-left: 17px">|</a>
<a class="lang" style="margin-left: 17px">PR</a>
<a class="lang" style="margin-left: 17px">|</a>
<a class="lang" style="margin-left: 17px">SP</a>

<div class="sub-menu"></div>
</div>
