<!--<div class="navmenu">-->
<mat-toolbar class="navmenu">
  <mat-toolbar-row>
  <a routerLink="" style="flex-grow: 1;max-width: 280px;">
  <img src="assets\menu\kantoo_icon.png"
     class="Kantoo-Icon"></a>


<a class="menuItem" routerLink="/our-app" routerLinkActive="menuActiveOurApp menuActive" style="margin-left: 0px;">{{ourAppLoc.engText | uppercase}}</a>
<a class="menuItem expandable" style="width: fit-content" routerLink="/learning-with-disney" routerLinkActive="menuActiveLearning menuActive" (mouseover)="showMenu=true" (mouseout)="showMenu=false">{{learningDisneyLoc.engText | uppercase}}
  <img src="assets\menu\drop-down.svg"
     class="Drop-Down">

   </a>
<!--<a class="menuItem expandable" style="width: fit-content" routerLink="/kantoo-blog" routerLinkActive="menuActiveBlog menuActive">{{kantooBlogLoc.engText | uppercase}}<img src="assets\menu\drop-down.svg"
          class="Drop-Down">

        </a>-->
<a class="menuItem"  href="http://www.kantoo.com/en/">{{legacyLoc.engText | uppercase}}</a>
<a class="menuItem" routerLink="/contact" routerLinkActive="menuActiveContact menuActive">{{contactLoc.engText | uppercase}}</a>

<div class="language-section">
<a class="lang"  routerLinkActive="langActive ">EN</a>
<a class="lang" style="margin-left: 17px; pointer-events: none">|</a>
<a class="lang" style="margin-left: 17px" routerLinkActive="langActive">PT</a>
<a class="lang" style="margin-left: 17px; pointer-events: none">|</a>
<a class="lang" style="margin-left: 17px" routerLinkActive="langActive">ES</a>
</div>
</mat-toolbar-row>
</mat-toolbar>
<app-sub-menu [className]="showMenu ? 'shown' : 'hidden'" (mouseover)="showMenu=true" (mouseout)="showMenu=false" style="margin-top:10vh"></app-sub-menu>

<!--</div>-->
