div {
  background-repeat: no-repeat;
}

.contaner {
  width: 100vw;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  padding-top: 10vh;
}

.pageBackground{
  width: auto;
  height: auto;
  position: absolute;
  top: 103vh;
  left: 25vw;
  z-index: 1;
}

.CONVERSIONbtn{
  margin-left: 5vw;
}

.leftTextSection {
      padding: 5vw;
}

.playBtnCont {
  position: absolute;
left: 0;
right: 0;
top: 0;
height: fit-content;
width: fit-content;
bottom: 0;
margin: auto;
cursor: pointer;
}

.leftTextSection p {
  width: auto;
 height: auto;
 object-fit: contain;
 font-size: 2em;
 font-weight: normal;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: normal;
 text-align: left;
 color: #ffffff;
}

.kantooImage{
  content: url(/assets/homepage/kanto_disney_logo_negative.png);
}


.pageBackground2{
  width: 15vw;
  height: auto;
  position: absolute;
  top: 135vh;
  right: 5vw;
  z-index: 1;
}

.pageBackground3{
  width: 15vw;
    height: auto;
    position: absolute;
      top: 165vh;
    left: 5vw;
    z-index: 1;
}

.pageBackground4{
  width: auto;
      height: auto;
      position: absolute;
      top: 225vh;
      right: 5vw;
      z-index: 1;
}

.pageBackground5{
  width: 9vw;
  height: auto;
  position: absolute;
  top: 275vh;
  left: 45vw;
  z-index: 1;
}

.videoContaner {
  width: 100vw;
height: 80vh;
z-index: 4;
position: relative;
background-size: cover;
padding-top: 10vh;
}

.textSection {
  padding: 1vw;
}

.Fold1 {
  width: 100vw;
  height: 80vh;
  z-index: 1;
  position: relative;
  background-size: contain;
  background-color: transperent;
}

.Fold1 .mainimage {
  margin: 0 auto;
  display: block;
}

.Fold1 h1 {
  width: 100vw;
  height: auto;
  object-fit: contain;
  font-size: 2vw;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0f206c;
}

.Fold2 {
  width: 100vw;
  height: auto;
  display: flex;
  z-index: 1;
  position: relative;
  padding: 0 16vw;
  background-color: transperent;
  background-size: contain;
}

.Fold2 h1:first-child {
  margin-top: 15vh;
}

.Fold2 h1 {
  width: 100vw;
  height: auto;
  object-fit: contain;
  font-size: 25px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0f206c;
  margin: 0;
}

.Fold2 .logoImg {
  width: 5vw;
  margin: 0 0.5vw;
}

.Fold2 .contentText {
  width: 25%;
  height: auto;
  object-fit: contain;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0f206c;
}

.Fold3 {
  width: 100vw;
  height: auto;
  z-index: 1;
  position: relative;
  display: flex;
  padding: 0 18vw;
  background-size: contain;
  background-color: transperent;
}

.Fold3 h1:first-child {
  margin-top: 15vh;
}

.Fold3 h1 {
  width: auto;
  height: auto;
  object-fit: contain;
  font-size: 25px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0f206c;
  margin: 0;
}

.Fold3 .textSection {
  width: 36vw;
}

.Fold3 .contentText {
  width: 75%;
  height: auto;
  object-fit: contain;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;

  letter-spacing: normal;
  text-align: left;
  color: #0f206c;
}

.Fold4 {
  margin-top: 10vh;
  z-index: 1;
  position: relative;
  background-color: transperent;
}

.Fold4 img {
  width: 100vw;
}

@media only screen and (max-width: 600px) {

  .Fold1 {
    height: fit-content;
    box-shadow: 0px 5px 5.8px 0.2px rgba(0, 0, 0, 0.17);
  }

  .CONVERSIONbtn{
     margin-left: 0;
width: 90vw;
object-fit: contain;
position: fixed;
  }

  .leftTextSection{
    padding: 5vw;
    bottom: 5vh;
    position: absolute;
  }

  .leftTextSection p {
    width: auto;
      height: auto;
      -o-object-fit: contain;
      object-fit: contain;
      font-size: 1.5em;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      margin: 2vh auto;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
  }

  .kantooImage{
    width: 40vw;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    position: initial;
    left: 0;
    bottom: 13vh;
    display: block;
    right: 0;
     margin-left: 0;
    margin-right: 30vw;
  }



  .Fold1 .title {
    font-size: 5vw;
    padding-top: 3vh;
  }

  .Fold1 img {
    width: 100vw;
  }

  .mainimageBottom {
    margin: 5vh auto;
  }

  .Fold2 {
    flex-direction: column-reverse;
    padding: 0;
    margin-top: 2vh;
    box-shadow: 0px 5px 5.8px 0.2px rgba(0, 0, 0, 0.17);
  }

  .Fold2 .textSection .title:first-child {
    margin-top: 5vh;
  }

  .Fold2 .textSection .title {
    width: auto;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    font-size: 5vw;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0f206c;
    margin: 0;
  }

  .Fold2 .textSection .contentText {
    width: auto;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    padding: 0px 3vw;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #0f206c;
  }

  .Fold3 {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    background-size: contain;
    background-color: white;
    margin-top: 2vh;
  }

  .Fold3 .textSection {
    width: 100vw;
  }

  .Fold3 .title:first-child {
    margin-top: 5vh;
    padding-top: 5vh;
    width: auto;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    font-size: 25px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0f206c;
    margin: 0;
  }



  .Fold3 .contentText {
    width: auto;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    padding: 0px 3vw;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #0f206c;
  }

  .Fold4 {
    margin-top: 0;
    background-color: white;
  }

  .Fold4 img {
    padding-top: 10vh;
  }
}
