<div class="container">
  <app-floating-button></app-floating-button>
  <div class="Fold1">
  <!--  <img id="desktopFold1Tablet" class="Fold1TabletImg" [src]="imageBaseUri + activeLanguage + mobilePrefix + '/p1tablet_test.png'"  alt="tablet">-->
  <div *ngIf="isMobile == false" class="Fold1TabletImg">
    <video autoplay id="desktopFold1Tablet"  [src]="imageBaseUri + activeLanguage + mobilePrefix + '/placeholder_video_Tablet_mockup.mp4'" loop >

    </video>
  </div>
      <div class="Fold1TextsContainer">
          <p class="introducing">{{'introducing' | translate | uppercase}}</p>
          <img src="../assets/homepage/kanto_disney_logo.png" class="KantoDisneyLogo2">
       <p class="disneyText">{{'kntooDisneyText' | translate}}</p>
       <!--<img id="mobileFold1Tablet" class="Fold1TabletImg" [src]="imageBaseUri + activeLanguage + mobilePrefix + '/p1tablet_test.png'"  alt="tablet">-->
       <div *ngIf="isMobile"  class="Fold1TabletImg">
         <video autoplay controls id="mobileFold1Tablet"  [src]="imageBaseUri + activeLanguage + mobilePrefix + '/placeholder_video_Tablet_mockup.mp4'" loop  [poster]="imageBaseUri + activeLanguage + mobilePrefix + '/p1tablet_test.png'">

         </video>
       </div>

       <p class="CONVERSIONbtnHolder" style="margin-top: 2vh">
       <a [style.opacity]="topConversionOpacityValue" class="CONVERSIONbtn" (click)="openDialog()" style="display:block">
         <img style="display:block"  [src]="homeImageBaseUri + activeLanguage + '/conversion_btn.png'" class="CONVERSIONbtn">
       </a>
       </p>

       <p class="CONVERSIONbtnHolderMobile">
       <a class="CONVERSIONbtnMobile" (click)="openDialog()" style="width:inherit">
         <img  [src]="homeImageBaseUri + activeLanguage + '/Mobile/conversion_btn.png'" style="width:inherit" class="CONVERSIONbtnMobile">
       </a>
       </p>
      </div>
  </div>
  <div class="Fold2">
    <div class="Fold2TextContainer">
      <p class="activeText">{{'active' | translate | uppercase}}</p>
      <p class="weTeach">{{'weTeach' | translate}}</p>
      <p class="ourCambridge">{{'ourCambridge' | translate}}</p>
      <p class="CONVERSIONbtnHolder" style="margin-top: 2vh">
      <a class="CONVERSIONbtn" (click)="openDialog()">
        <img  [src]="homeImageBaseUri + activeLanguage + '/conversion_btn.png'"

       class="CONVERSIONbtn">
      </a>
    </p>
    </div>
 <img src="../assets/ourApp/f2mobilemockup.png" alt="f2mobilemockup" class="f2mobilemockup">
  </div>
  <div class="Fold3">
    <img class="fold3BackgroundImage">
    <div class="Fold3Texts">

      <p class="Fastandeasy">{{'fastNeasy' | translate | uppercase}}</p>
      <p class="OurDisney">{{'disneyMovies' | translate}}</p>
      <p style="margin-left: 10%;" class="CONVERSIONbtnHolder">
      <a class="CONVERSIONbtn" (click)="openDialog()">
        <img  [src]="homeImageBaseUri + activeLanguage + '/conversion_btn.png'"

       class="CONVERSIONbtn">
      </a>
    </p>
    </div>
  </div>

  <div class="Fold4">
    <img class="fold4BackgroundImage">
    <div class="fold4TextSection">
      <p class="safeLearningTitle">{{'safeLearningTitle' | translate | uppercase}}</p>
      <p class="safeLearningText">{{'safeLearningText' | translate}}</p>
      <a class="CONVERSIONbtn" (click)="openDialog()">
        <img  [src]="homeImageBaseUri + activeLanguage + '/conversion_btn.png'"

       class="CONVERSIONbtn">
      </a>
    </div>

  </div>

  <div class="Fold5">
      <img class="fold5Image" src="../assets/ourApp/f5mockup.png" alt="tablet">
      <div class="Fold1TextsContainer">
          <p class="introducing" style="width:400px">{{'learnEnglish' | translate | uppercase}}</p>
           <p class="disneyText">{{'meetOur' | translate}}</p>
           <a class="CONVERSIONbtn" (click)="openDialog()">
             <img  [src]="homeImageBaseUri + activeLanguage + '/conversion_btn.png'"

            class="CONVERSIONbtn">
           </a>
      </div>
  </div>

  <div class="Fold6">
<img class="fold6BackgroundImage">
<div class="fold6TextSection">
  <p class="safeLearningTitle">{{'kantooWayTitle' | translate | uppercase}}</p>
  <p class="safeLearningText">{{'kantooWayText' | translate}}</p>
  <p class="safeLearningText">{{'kantooWayText2' | translate}}</p>
  <a class="CONVERSIONbtn" (click)="openDialog()">
    <img  [src]="homeImageBaseUri + activeLanguage + '/conversion_btn.png'"

   class="CONVERSIONbtn">
  </a>
</div>
  </div>
  <div class="Fold7">
    <img class="fold7BackgroundImage">
    <div class="Fold3Texts">
      <p class="Fastandeasy">{{'futureReady' | translate | uppercase}}</p>
      <p class="OurDisney">{{'worldChanging' | translate}}</p>
      <p style="margin-left: 10%;" class="CONVERSIONbtnHolder">
      <a class="CONVERSIONbtn" (click)="openDialog()">
        <img  [src]="homeImageBaseUri + activeLanguage + '/conversion_btn.png'"

       class="CONVERSIONbtn">
      </a>
    </p>
    </div>
  </div>
</div>
