<div class="container">
  <div class="Fold1">
      <img class="Fold1TabletImg" src="./assets/ourApp/p1tablet.png" alt="tablet">
      <div class="Fold1TextsContainer">
          <p class="introducing">{{introducing | uppercase}}</p>
          <img src="./assets/homepage/kanto_disney_logo.png"
       srcset="./assets/homepage/kanto_disney_logo@2x.png 2x,
               ./assets/homepage/kanto_disney_logo@3x.png 3x"
       class="KantoDisneyLogo2">
       <p class="disneyText">{{kntooDisneyText}}</p>
       <p class="CONVERSIONbtnHolder" style="margin-top: 2vh">
       <a class="CONVERSIONbtn">
         <img src="./assets/homepage/conversion_btn.png"
        srcset="./assets/homepage/conversion_btn@2x.png 2x,
                ./assets/homepage/conversion_btn@3x.png 3x"
        class="CONVERSIONbtn">
       </a>
      </div>
  </div>
  <div class="Fold2">
    <div class="Fold2TextContainer">
      <p class="activeText">{{active | uppercase}}</p>
      <p class="weTeach">{{weTeach}}</p>
      <p class="ourCambridge">{{ourCambridge}}</p>
      <p class="CONVERSIONbtnHolder" style="margin-top: 2vh">
      <a class="CONVERSIONbtn">
        <img src="./assets/homepage/conversion_btn.png"
       srcset="./assets/homepage/conversion_btn@2x.png 2x,
               ./assets/homepage/conversion_btn@3x.png 3x"
       class="CONVERSIONbtn">
      </a>
    </p>
    </div>
 <img src="./assets/ourApp/f2mobilemockup.png" alt="f2mobilemockup" class="f2mobilemockup">
  </div>
  <div class="Fold3">
    <img class="fold3BackgroundImage">
    <div class="Fold3Texts">

      <p class="Fastandeasy">{{fastNeasy | uppercase}}</p>
      <p class="OurDisney">{{disneyMovies}}</p>
      <p style="margin-left: 10%;" class="CONVERSIONbtnHolder">
      <a class="CONVERSIONbtn">
        <img src="./assets/homepage/conversion_btn.png"
       srcset="./assets/homepage/conversion_btn@2x.png 2x,
               ./assets/homepage/conversion_btn@3x.png 3x"
       class="CONVERSIONbtn">
      </a>
    </p>
    </div>
  </div>

  <div class="Fold4">
    <img class="fold4BackgroundImage">
    <div class="fold4TextSection">
      <p class="safeLearningTitle">{{safeLearningTitle | uppercase}}</p>
      <p class="safeLearningText">{{safeLearningText}}</p>
      <a class="CONVERSIONbtn">
        <img src="./assets/homepage/conversion_btn.png"
       srcset="./assets/homepage/conversion_btn@2x.png 2x,
               ./assets/homepage/conversion_btn@3x.png 3x"
       class="CONVERSIONbtn">
      </a>
    </div>

  </div>

  <div class="Fold5">
      <img class="Fold1TabletImg" src="./assets/ourApp/f5mockup.png" alt="tablet">
      <div class="Fold1TextsContainer">
          <p class="introducing" style="width:400px">{{learnEnglish | uppercase}}</p>
           <p class="disneyText">{{meetOur}}</p>

      </div>
  </div>

  <div class="Fold6">
<img class="fold6BackgroundImage">
<div class="fold6TextSection">
  <p class="safeLearningTitle">{{kantooWayTitle | uppercase}}</p>
  <p class="safeLearningText">{{kantooWayText}}</p>
  <p class="safeLearningText">{{kantooWayText2}}</p>
  <a class="CONVERSIONbtn">
    <img src="./assets/homepage/conversion_btn.png"
   srcset="./assets/homepage/conversion_btn@2x.png 2x,
           ./assets/homepage/conversion_btn@3x.png 3x"
   class="CONVERSIONbtn">
  </a>
</div>
  </div>
  <div class="Fold7">
    <img class="fold7BackgroundImage">
    <div class="Fold3Texts">
      <p class="Fastandeasy">{{futureReady | uppercase}}</p>
      <p class="OurDisney">{{worldChanging}}</p>
      <p style="margin-left: 10%;" class="CONVERSIONbtnHolder">
      <a class="CONVERSIONbtn" >
        <img src="./assets/homepage/conversion_btn.png"
       srcset="./assets/homepage/conversion_btn@2x.png 2x,
               ./assets/homepage/conversion_btn@3x.png 3x"
       class="CONVERSIONbtn">
      </a>
    </p>
    </div>
  </div>
</div>
