<div class="container">
  <app-floating-button></app-floating-button>
  <ng-container *ngFor="let asset of assetCollection; index as i">
  <div [id]="assetCollection[i].name" [class]="i%2 == 0? 'Fold1': 'Fold2'" [style.background-image]="'url('+dynamicAssetPath + assetCollection[i].background + '.png)'">
    <div class="foldLeft">
      <img class="upperLogo" [src]="assetPath + assetCollection[i].logo + '.png'" (error)="imageErrorHandler($event)">
      <img class="overlayImageLeft1" [src]= "assetPath + assetCollection[i].fold1ImageLeft + '.png'" (error)="imageErrorHandler($event)">
      <img class="overlayImageRight1" [src]= "assetPath + assetCollection[i].fold1ImageRight + '.png'" (error)="imageErrorHandler($event)">
      <a><img class="foldLeftImage" [src]="dynamicAssetPath + assetCollection[i].mainImage + '.png'"></a>
      <img class="overlayImageLeft2" [src]= "assetPath + assetCollection[i].fold2ImageLeft + '.png'" (error)="imageErrorHandler($event)">
      <img class="overlayImageRight2" [src]= "assetPath + assetCollection[i].fold2ImageRight + '.png'" (error)="imageErrorHandler($event)">

    </div>
    <div class="foldRight">
      <div class="textHolder">
        <img class="bottomLogo" [src]="'./assets/learnDisney/' + assetCollection[i].logo + '.png'" (error)="imageErrorHandler($event)">
        <p>{{assetCollection[i].text}}</p>
        <a [routerLink]="'/learning-with-disney/' + assetCollection[i].id">{{'learnMore' | translate}}</a>
      </div>
    </div>
  </div>
</ng-container>
</div>
<app-sub-menu class="learningSubmenu"></app-sub-menu>
