.contactUsContainer {
  position: relative;
  max-width: 1903px;
  max-height: 1000px;
  background: black;
  margin: 0 auto;
  height: 100vh;
  background-size: cover;
  background-image: url(/assets/contactus/bg_pic.jpg);
}

.backgroundImg {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  content: url(/assets/contactus/bg_pic.jpg);
}

.sendBtnContact input {
  display: block;
  margin: 0 auto;
  width: 40vh;
  max-width: 181px;
}

.contactUsContainerInnerTitle {
  padding-top: 20vh;
  width: fit-content;
  margin: 0 auto;
  text-align: -webkit-center;
}

.contactUsContainerInnerInput {
  top: 35%;
      left: 0;
      right: 0;
      width: 25vw;
      height: 350px;
      display: block;
      margin: 0 auto;
      -o-object-fit: contain;
      object-fit: contain;
}

.contactUsContainerInnerInputName {
  display: flex;
  position: relative;
  height: 40vh;
}

.ContactUsNameText {
  width: 11vw;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 17px;
  background-color: #ffffff;
  font-size: 14.3px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  position: absolute;
  padding: 7px;
  border: 0px;
  resize: unset;
}

.GetInTouch {
  height: 27px;
      -o-object-fit: contain;
      object-fit: contain;
      font-size: 2vw;
      font-weight: 800;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      margin: 0 auto;
}

.NeedHelpline {
  height: 25px;
  -o-object-fit: contain;
  object-fit: contain;
  font-size: 1.5vw;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.sendBtnContact {
  z-index: 1;
  margin: 0 auto;
  cursor: pointer;
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control-placeholder {
  position: absolute;
  width: 213px;
  top: 0;
  padding: 12px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
  font-size: 0.8vw;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.form-control:focus+.form-control-placeholder {
  font-size: 75%;
  color: #ffffff;
  transform: translate3d(0, -105%, 0);
  opacity: 1;
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
  font-size: 75%;
  color: #ffffff;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}

.sideImg {
  position: absolute;
  z-index: 1;
  bottom: 100px;
  right: 100px;
  display: none;
}

input[type=submit] {
  background: url(/assets/contactus/send_btn.png);
  border: 0;
  display: block;
  height: _the_image_height;
  width: _the_image_width;
}

/*----------------------------------------------LAPTOP--------------------------------------------------*/
/*@media only screen and (max-width: 1024px) {
  .contactUsContainerInnerInput {
    top: 350px;
  left: 0;
  right: 0;
  position: absolute;
  width: 500px;
  height: 350px;
  -o-object-fit: contain;
  object-fit: contain;
  }

  .sideImg {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    right: 30px;
    display: none;
  }
}*/

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.confirmationMessage{
  background: white;
  display: none;
  width: 24vw;
  height: fit-content;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
  border-radius: 20px;
  z-index: 10;
  object-fit: contain;
}

.charBackgroundLayer{
  width: 40%;
    /* height: 40%; */
    margin: 4vh auto;
    padding: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/assets/contactus/character-bg.jpg);
}

.charBackgroundLayer.fail{
  background-image: url(/assets/contactus/character-bg-fail.jpg);
}

.charBackgroundLayer img{
  display: block;
  margin: 0 auto;
}

.confirmationMessage .closeButton{
  width: fit-content;
    height: fit-content;
    float: right;
    top: 0;
    margin-right: 5%;
    margin-top: 5%;
}

.confirmationMessage .title{
 object-fit: contain;
 font-size: 25px;
 font-weight: bold;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: normal;
 text-align: center;
 color: #0f206c;
}

.confirmationMessage .textContent{
  object-fit: contain;
   font-weight: 600;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   text-align: center;
   color: #0f206c;
}

.tryAgainContainer{
  width: fit-content;
    height: auto;
    margin: 0 auto;
    display: block;
}


/*----------------------------------------------MOBILE--------------------------------------------------*/
@media only screen and (max-width: 769px) {
  .contactUsContainer {
    position: relative;
    max-width: 100vw;
    background-image: url(/assets/contactus/Mobile/bg_pic.png);
    margin: 0 auto;
    height: fit-content;
  }

  .backgroundImg {
    content: url(/assets/contactus/Mobile/bg_pic.png);
  }

  .contactUsContainerInnerTitle {
    position: relative;
    top: 0;
    left: 0;
  }

  .GetInTouch {
    /* height: 27px; */
    -o-object-fit: contain;
    object-fit: contain;
    font-size: 35.8px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-top: 35px;
    margin-top: 0px;
    height: auto;
  }

  .NeedHelpline {
    height: 25px;
    -o-object-fit: contain;
    object-fit: contain;
    font-size: 25.1px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 0px;
  }

  .contactUsContainerInnerInput {
    top: 0;
    left: 0;
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    margin: 5%;
  }

  .contactUsContainerInnerInputName {
    display: flex;
    position: relative;
    height: auto;
  }

  .ContactUsNameText {
    width: 85vw;
        height: 30px;
        -o-object-fit: contain;
        object-fit: contain;
        border-radius: 17px;
        background-color: #ffffff;
        font-size: 14.3px;
        font-weight: bold;
        font-style: normal;
        opacity: 0.5;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        position: static;
        padding: 7px;
        left: 0;
        right: 0;
        top: 6.5vh;
        border: 0px;
        resize: unset;
        margin: 0 auto;
  }

  .ContactUsNameText #name {
    top: -24px;
  }

  .form-control-placeholder {
    position: absolute;
      width: 213px;
      padding: 15px 0 0 20px;
      transition: all 200ms;
      opacity: 0.5;
      font-size: 14.3px;
      font-weight: bold;
      color: white;
      left: 0;
      top: 0vh !important;
      opacity: 1;
      z-index: 1;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
  }

  #email {
    left: 0 !important;
    top: 6.5vh !important;
  }

  #email+label {
    left: 0px !important;
    top: 0vh !important;
  }

  #message {
    top: 17vh !important;
    width: 85vw !important;
    height: 20vh !important;
  }

  #message+.form-control-placeholder {
    top: 0vh !important;
  }

  .g-recaptcha {
    visibility: hidden;
  }

  .sendBtnContact {
    position: initial;
    margin: 0 auto;
    left: 0px;
    width: auto;
    right: 0px;
    bottom: 0;
    cursor: pointer;
    text-align: center;
  }

  .form-group{
    position: relative;
    margin: 5vh auto;

  }

  .sendBtnContact input {
    width: 50vw;
  }

  .sideImg {
    display: none;
  }

  .card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


  .confirmationMessage{
    width: 90vw;
    height: fit-content;
  }
}
