/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: OpenSans, "Helvetica Neue", sans-serif; }
*:focus {
    outline: none;
}

.cdk-overlay-dark-backdrop{
  background: #000000;
  opacity: 0.8 !important;
}

.mat-dialog-container{
  background: 0 !important;
      box-shadow: 0px 0px !important;
}
