<div class="container">
  <app-floating-button></app-floating-button>
  <div class="Fold1">
    <!--<img [style.z-index]="fold1BackgroundZIndexActual" [style.content]="'url('+imageBaseUri  + mobilePrefix + '/fold_1.png)'" class="Fold1BackgroundImg" alt="kids with a tablet">-->
    <video loop id="promoVideo" [poster]="imageBaseUri  + mobilePrefix + 'P1_Video_Image.jpg'" class="Fold1BackgroundImg" [src]="videoBaseUrl + activeLanguage + '/promo.mp4'">

    </video>
    <a id="playBtnCont" class="playBtnCont" (click)="openPlayer()">
      <img [src]="imageBaseUri + 'play_btn.png'"  class="playBtn" alt="play button">
    </a>
    <div id="fold1LeftOveray" class="fold1LeftOveray">
    <img src="../assets/homepage/kanto_disney_logo.png" alt="storytime logo"
     class="KantoDisneyLogo">
     <h1 class="AddEnglishToTheirStory">{{'addEnglishText' | translate | uppercase}}</h1>
     <a [style.opacity]="topConversionOpacityValue" class="CONVERSIONbtnCont" (click)="openDialog()">
       <img alt="conversion button" [src]="conversionButtonUri" (mouseout)="conversionButtonUri = this.imageBaseUri + this.activeLanguage + this.mobilePrefix +'/conversion_btn.png'"
          (mouseover)="conversionButtonUri = this.imageBaseUri + this.activeLanguage + this.mobilePrefix +'/conversion_btn_hover.png'" class="CONVERSIONbtn">
     </a>
</div>
  </div>

  <div class="Fold2">
    <div class="Fold2Left">
      <img alt="moana characters" src="../assets/homepage/characters.png"
           srcset="../assets/homepage/characters@2x.png 2x,
                   ../assets/homepage/characters@3x.png 3x"
           class="Characters">
           <img alt="moana gif" src="../assets/homepage/P2_Gif.gif" class="GIF">

    </div>
    <div class="Fold2Right">
        <p class="WelcomeTo">{{'welcomeToText' | translate | uppercase}}</p>

        <img alt="storytime logo" src="../assets/homepage/kanto_disney_logo.png"
     class="KantoDisneyLogo2">

     <p class="TheUltimate">{{'ultimate' | translate}}</p>

     <a class="LearnMoreBtnCont" routerLink="/our-app">{{'learnMore' | translate}}</a>

     <a class="CONVERSIONbtnCont2" (click)="openDialog()">
       <img alt="conversion button"  [src]="conversionButtonUri" (mouseout)="conversionButtonUri = this.imageBaseUri + this.activeLanguage + this.mobilePrefix +'/conversion_btn.png'"
          (mouseover)="conversionButtonUri = this.imageBaseUri + this.activeLanguage + this.mobilePrefix +'/conversion_btn_hover.png'"  class="CONVERSIONbtn2" style="margin-top: 2vh">
     </a>
    </div>
  </div>

  <div class="Fold3">
    <p class="LearnEnglish" style="margin-bottom: 0px">{{'learnEnglish' | translate | uppercase}}</p>
    <p class="Fold3_SecondRow" style="margin-bottom: 3vh;">
    <span class="MovieWord">{{'favorite' | translate | uppercase}}</span>
    <img alt="storytime logo" src="../assets/homepage/disney_logo.png"

     class="DisneyLogoVector">
     <span class="MovieWord">{{'movieWord' | translate | uppercase}}</span>
     </p>
     <a class="LearnMoreBtnCont" routerLink="/learning-with-disney">{{'learnMore' | translate}}</a>

      <div style="display:flex;margin-top: 3vh;">
  <!--   <a id="movie-leftArrow" style="float:left;margin-left: 80px;margin-top: 230px;margin-right: auto;" (click)="incrementIndex()">
       <img alt="arrow image" class="arrow" src="../assets/homepage/left_arrow.png"
           [src]="imgSrcLeft"  (mouseover)="imgSrcLeft = 'assets/homepage/Arrow_Hover_Left.png'"
              (mouseout)="imgSrcLeft = 'assets/homepage/left_arrow.png'" >
        </a>-->
     <div (window:resize)="onResize($event)" class="movie-section" [@.disabled]="isDisabled">
        <div  (scroll)="onCarouselScroll($event)" class="franchiseItemHolder" >
          <a class="franchisesItemCont"  *ngFor="let franchise of franchises; index as i "  [@move]="{value: viewIndex, params: {moveOffset: moveOffset, moveOffsetAnim: moveOffsetAnim }}" [routerLink]="'/' + franchises[i].id">
            <img [id]="'carouselItem' + i" alt="carousel item" class="franchisesItem" (load)="setOffsetModifier()"  [src]="imageBaseUri +  activeLanguage + mobilePrefix + '/'+ franchises[i].name" >
          </a>

        </div>
        <div class="franchisesItemDotsHolder">
      <img (click)="dotsClicked(i)" alt="buttom dots" class="franchisesItemDots" *ngFor="let franchise of franchises; index as i" [id]="'dot' + i" src="../assets/homepage/Mobile/dot_2.png">
      </div>
     </div>
    <!-- <a id="movie-rightArrow" style="float:right;margin-top: 230px;margin-right: 60px;margin-left: auto;" (click)="decrementIndex()">
       <img alt="arrow image" class="arrow" src="../assets/homepage/right_arrow.png"
         [src]="imgSrcRight"  (mouseover)="imgSrcRight = 'assets/homepage/Arrow_Hover_Right.png'"
              (mouseout)="imgSrcRight = 'assets/homepage/right_arrow.png'" >
        </a>-->
        </div>
        <a class="CONVERSIONbtnContFold3" (click)="openDialog()">
          <img alt="conversion"  [src]="conversionButtonUri" (mouseout)="conversionButtonUri = this.imageBaseUri + this.activeLanguage + this.mobilePrefix +'/conversion_btn.png'"
             (mouseover)="conversionButtonUri = this.imageBaseUri + this.activeLanguage + this.mobilePrefix +'/conversion_btn_hover.png'"
         class="CONVERSIONbtn2" style="margin-left: 30px;">
        </a>
  </div>

  <div class="Fold4">
  <!--  <img   class="tabletMockup" >-->
    <div class="playingContainer">
      <p class="playingLearning" style="padding-bottom: 0px">{{'playing' | translate | uppercase}}</p>
      <p class="playingLearning bottomLearning" style="padding:0px">{{'learning' | translate | uppercase}}</p>
      <p class="With">{{'with' | translate | uppercase}}</p>
      <img alt="storytime logo" src="../assets/homepage/kanto_disney_logo.png"

       class="KantoDisneyLogoF4" >
       <a routerLink="/learning-with-disney" class="LearnMoreBtnCont LearnMoreBtnContF4">{{'learnMore' | translate}}</a>
    </div>


      <a class="CONVERSIONbtnF4" (click)="openDialog()">
        <img alt="conversion button"  [src]="conversionButtonUri" (mouseout)="conversionButtonUri = this.imageBaseUri + this.activeLanguage + this.mobilePrefix +'/conversion_btn.png'"
           (mouseover)="conversionButtonUri = this.imageBaseUri + this.activeLanguage + this.mobilePrefix +'/conversion_btn_hover.png'"

       class="CONVERSIONbtn2" style="margin-top: 2.5%;">
      </a>
  </div>

  <div class="Fold5">
    <div class="Fold5Left">
    <p class="OurLegacy">{{'ourLegacy' | translate | uppercase}}</p>
    <p class="expanding">{{'expanding' | translate }}</p>
    <p class="leading">{{'leading' | translate }}</p>
    <p class="conversionContatiner3" style="margin-top: 20px;cursor:pointer"><a class="CONVERSIONbtnCont3" (click)="openDialog()">
      <img alt="conversion button"  [src]="conversionButtonUri" (mouseout)="conversionButtonUri = this.imageBaseUri + this.activeLanguage + this.mobilePrefix +'/conversion_btn.png'"
         (mouseover)="conversionButtonUri = this.imageBaseUri + this.activeLanguage + this.mobilePrefix +'/conversion_btn_hover.png'">
    </a>
    </p>
  </div>
    <div class="Fold5Right">
      <div style="display:flex;">
     <a id="product-arrowLeft" style="float:left;margin-top: 300px;margin-left: 70px;" (click)="incrementIndex2()">
       <img alt="arrow image" class="arrow" src="../assets/homepage/left_arrow.png"
           [src]="imgSrcLeft"  (mouseover)="imgSrcLeft = 'assets/homepage/Arrow_Hover_Left.png'"
              (mouseout)="imgSrcLeft = 'assets/homepage/left_arrow.png'" >
        </a>
     <div class="movie-section" [@.disabled]="isDisabled">
        <div class="productItemHolder" >
          <!--<img alt="product carousel item" class="productItem" *ngFor="let product of products; index as i" [src]="products[i].name" [@move2]="{value: viewIndex2, params: {moveOffset2: moveOffset2, moveOffsetAnim2: moveOffsetAnim2 }}">-->
          <img alt="product carousel item" class="productItem" [src]="productsSource" style="max-width: 500px;width: 80vw;">
        </div>

     </div>
     <a  id="product-arrowRight" style="float:right;margin-top: 300px;margin-right: 80px" (click)="decrementIndex2()">
       <img alt="arrow image" class="arrow" src="../assets/homepage/right_arrow.png"
         [src]="imgSrcRight"  (mouseover)="imgSrcRight = 'assets/homepage/Arrow_Hover_Right.png'"
              (mouseout)="imgSrcRight = 'assets/homepage/right_arrow.png'" >
        </a>
        </div>
      </div>
      </div>

    <div class="strip">
      <p class="BGStrip"></p>
    </div>

  <app-contactus></app-contactus>
</div>
