.container{
  width: 100vw;
  height:fit-content;
  display: contents;
}

.Fold1BackgroundImg{
  position: absolute;
  left: 0px;
  top: 0px;

  width: 100%;
  /*object-fit: contain;
  height: 94.5%;*/
}

.mat-dialog-container{
  box-shadow: 0 !important;
background: 0 !important;
color: 0 !important;
}

youtube-player{
  position: absolute;
  pointer-events: all;
}

.Fold1 {
  height: 100%;
      width: 1903px;
  object-fit: contain;
  /*position: relative;*/
  pointer-events: none;
  overflow: hidden;

}

.arrow{
  cursor: pointer;
}

.Fold2 {
  max-width: 1903px;
height: 1056.910px;
position: relative;
-o-object-fit: contain;
margin: auto;
object-fit: contain;
}

.Fold2Left{
  float: left;
  display: grid;
  padding-left: 20%;
  padding-top: 13%;
  padding-bottom: 2%;
/*
add 180px to padding top and bottom to make the folder same size as Fold1
*/
}



.Fold2Right{
  width: 703px;
  float: right;
  display: grid;
  height: 581px;
  padding-right: 3%;
  padding-bottom: 2%;
  padding-top: 16%;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
}

.Fold3 {
  width: 100%;
  height: 1056.910px;
  object-fit: contain;
  position: relative;
  text-align: center;
}

.Fold3_SecondRow {
  width: 100%;
  text-align: -webkit-center;
}



.DisneyLogoVector {
  width: 164px;
  height: 66px;
  object-fit: contain;
  top: 15px;
  position: relative;
  margin-right: 8px;
}

.playBtn{
  width: 122px;
height: 85px;
object-fit: contain;
opacity: 0.9;
}

.playBtnCont{
  z-index: 1;
    top: 50%;
    left: 50%;
    cursor: pointer;
    position: absolute;
    pointer-events: all;
}

.franchisesItem{
  /*height: 533px*/

}

.KantoDisneyLogo{
  width: 412px;
      height: 99px;
      -o-object-fit: contain;
      object-fit: contain;
      position: absolute;
      top: 250px;
      left: 80px;

}

.KantoDisneyLogoF4{
  width: 412px;
  height: 99px;
  object-fit: contain;
      position: absolute;
      top: 650px;
    right: 190px;

}

.CONVERSIONbtnF4{
  cursor: pointer;
    position: absolute;
    right: 210px;
  top: 800px;
}

.AddEnglishToTheirStory {
  height: 23px;
      -o-object-fit: contain;
      object-fit: contain;
      font-size: 30px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -1.2px;
      text-align: left;
      color: #592c82;
      position: absolute;
      top: 360px;
      left: 80px;
}

.CONVERSIONbtn {

  object-fit: contain;
}

.CONVERSIONbtnCont {
  position: absolute;
top: 420px;
left: 80px;
cursor: pointer;
pointer-events: all;
}

.Characters {
  width: 287px;
  height: 154px;
  object-fit: contain;
  margin: 0 auto;
}

.GIF {
  width: 703px;
  height: 427px;
  object-fit: contain;
}

.WelcomeTo {
  height: 27px;
  -o-object-fit: contain;
  object-fit: contain;
  font-size: 35.8px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #592c82;
  margin-top: 20%;
}

.KantoDisneyLogo2 {
  width: 275px;
      height: 66px;
      object-fit: contain;
      margin-top: 3.5%;
      margin-left: 4px;

}

.TheUltimate {
  width: 352px;
      height: 55px;
      -o-object-fit: contain;
      object-fit: contain;
      font-size: 25px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      margin-top: 10px;
      color: #592c82;
}

.LearnMoreBtn {
  width: 113px;
  height: 20px;
  object-fit: contain;
}

.LearnMoreBtnCont{
  margin-top: 3%;
  cursor: pointer;
}

.CONVERSIONbtn2 {
  margin-top: 5%;
  object-fit: contain;
}

.CONVERSIONbtnCont2 {
  top: 430px;
  left: 180px;
  cursor: pointer;
}

.LearnEnglish {
  height: 27px;

  object-fit: contain;
  font-size: 35.8px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #592c82;
  padding-top: 100px;
}

.MovieWord {

  object-fit: contain;
  font-size: 35.8px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #592c82;
  margin-left: 5px;
}

.movie-section{
  margin: 0 auto;
}

.franchiseItemHolder{
  width: 1083px;
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
display: flex;
-o-object-fit: contain;
object-fit: contain;
overflow: hidden;
z-index: -5;
}

.productItemHolder{
  width: 700px;
/* height: -webkit-fit-content; */
height: -moz-fit-content;
/* height: fit-content; */
display: flex;
-o-object-fit: contain;
object-fit: contain;
overflow: hidden;
z-index: -5;
position: absolute;
top: 0px;
left: 57%;
/* margin-bottom: 50%; */
}

.Fold4{
  position: relative;
}

.tabletMockup{
  width: 100%;
  /* height: 768px; */
  -o-object-fit: contain;
  object-fit: contain;
  z-index: -1;
}

.playingLearning {
  width: 472px;
height: 152px;
-o-object-fit: contain;
object-fit: contain;
font-size: 75.8px;
font-weight: 800;
font-style: normal;
font-stretch: normal;
line-height: 90px;
letter-spacing: normal;
text-align: left;
color: #592c82;
position: absolute;
top: 280px;
right: 152px;
pointer-events: none;
}

.With {
  width: 96px;
  height: 26px;
  -o-object-fit: contain;
  object-fit: contain;
  font-size: 35.8px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #592c82;
  position: absolute;
  top: 530px;
  right: 364.797px;
  pointer-events: none;
}

.LearnMoreBtnContF4{
  cursor: pointer;
      position: absolute;
      right: 350px;
      top: 760px;
}


.Fold5{
/*  width: 100vw; */
  height: 630px;
  position: relative;
  margin-top: 107px;
}

.Fold5Left{
  width: fit-content;
  height: 100%;
  float: left;
  padding-left: 80px;
}

.Fold5Right{
  width: 50%;
  height: 100%;
  float: right;
}

.OurLegacy {
  height: 27px;
-o-object-fit: contain;
object-fit: contain;
font-size: 35.8px;
font-weight: 800;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
color: #592c82;
margin-top: 80px;
}

.CONVERSIONbtnCont3{

}

.BGStrip {
/*  width: 100vw; */
  height: 27px;
  object-fit: contain;
  background-image: linear-gradient(to top, #5a2b95, #1b236e);
}
