.container {
  width: 100vw;
  height: fit-content;
  display: contents;
}

a {
  object-fit: contain;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0f206c;
  text-decoration: underline;
  cursor: pointer;
}

.franchisesItem {
  width: 37.8vw;
  height: auto;
}

.Fold1BackgroundImg {
  position: absolute;
  left: auto;
  top: 0px;
  width: 100%;
  content: url(/assets/homepage/fold_1.png);
}

.mat-dialog-container {
  box-shadow: 0 !important;
  background: 0 !important;
  color: 0 !important;
}

youtube-player {
  position: absolute;
  pointer-events: all;
}

.fold1LeftOveray {
  width: fit-content;
  height: auto;
  position: absolute;
  margin: 17vh;
  display: grid;
  grid-row-gap: 2vh;
}

.Fold1 {
  height: 100%;
  position: relative;
  -o-object-fit: contain;
  object-fit: contain;
  pointer-events: none;
  overflow: hidden;
  margin: 0 auto;
  width: 100vw;
}

.expanding {
  height: 27px;
  object-fit: contain;
  font-size: 1.3em;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0f206c;
  margin-top: 0;
}

.leading {
  width: 500px;
  height: fit-content;
  font-size: 19.3px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0f206c;
}

.arrow {
  cursor: pointer;
}

.Fold2 {
  /* max-width: 1903px; */
  height: 938px;
  position: relative;
  -o-object-fit: contain;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  object-fit: contain;
  max-width: 1903px;
}

.Fold2Left {
  float: left;
  display: grid;
  padding-left: 15%;
  padding-top: 13%;
  padding-bottom: 2%;
  /*
add 180px to padding top and bottom to make the folder same size as Fold1
*/
}

.Fold2Right {
  width: 703px;
  float: right;
  display: grid;
  height: 581px;
  padding-right: 3%;
  padding-bottom: 2%;
  padding-top: 16%;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
}

.Fold3 {
  max-width: 80vw;
  height: 90vh;
  object-fit: contain;
  position: relative;
  text-align: center;
  padding-bottom: 8vh;
  margin: 0 auto;
}

.Fold3_SecondRow {
  width: 100%;
  text-align: -webkit-center;
}

.franchisesItemDotsHolder {
  display: none;
}

.DisneyLogoVector {
  width: 164px;
  height: 66px;
  object-fit: contain;
  top: 15px;
  position: relative;
  margin-right: 8px;
}

.playBtn {
  width: 6vw;
  height: auto;
  object-fit: contain;
  opacity: 0.9;
}

.playBtnCont {
  z-index: 1;
  margin-top: 25%;
  left: 50%;
  cursor: pointer;
  position: absolute;
  pointer-events: all;
}

.franchiseItemHolder a:first-child {
  margin-left: 37.8vw;
}

.KantoDisneyLogo {
  width: 26vw;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  margin-top: 13.5%;
  left: 4.2vw;
  margin-left: auto;
  margin-right: auto;
}

.KantoDisneyLogoF4 {
  width: 412px;
  height: 99px;
  -o-object-fit: contain;
  object-fit: contain;
  position: absolute;
  top: 630px;
  right: 240px;
}

.CONVERSIONbtnF4 {
  cursor: pointer;
  position: absolute;
  right: 16.5%;
  top: 780px;
}

.AddEnglishToTheirStory {
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  font-size: 1.55vw;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.2px;
  text-align: left;
  color: #0f206c;
  width: auto;
  left: 4.2vw;
}

.CONVERSIONbtn {
  object-fit: contain;
  /*content: url(/assets/homepage/conversion_btn.png);*/
  /*width: 20vw;*/
}

.CONVERSIONbtn:hover, .CONVERSIONbtn2:hover {
  /*  content: url(/assets/homepage/conversion_btn_hover.png);*/
}

.CONVERSIONbtnCont {
  left: 4vw;
  cursor: pointer;
  margin: 0 auto;
  pointer-events: all;
}

.Characters {
  max-width: 15vw;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 30%;
  top: 200px;
  display: none;
}

.GIF {
  max-width: 36.7vw;
  height: 427px;
  -o-object-fit: contain;
  object-fit: contain;
  margin-top: 15%;
}

.WelcomeTo {
  height: 27px;
  -o-object-fit: contain;
  object-fit: contain;
  font-size: 35.8px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0f206c;
  margin-top: 8%;
}

.KantoDisneyLogo2 {
  max-width: 14.3vw;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  /*margin-top: 3.5%;*/
  margin-left: 4px;
}

.TheUltimate {
  width: 352px;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  font-size: 25px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-top: 10px;
  color: #0f206c;
}

.LearnMoreBtn {
  width: 113px;
  height: 20px;
  object-fit: contain;
}

.LearnMoreBtnCont {
  width: auto;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  font-size: 1em;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0f206c;
  cursor: pointer;
  text-decoration: none;
}

.CONVERSIONbtn2 {
  margin-top: 0;
  object-fit: contain;
  /*  width: 20vw;*/
}

.CONVERSIONbtnCont2 {
  top: 430px;
  left: 180px;
  cursor: pointer;
}

.LearnEnglish {
  height: 27px;
  object-fit: contain;
  font-size: 35.8px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0f206c;
  /*  padding-top: 100px;*/
}

.MovieWord {
  object-fit: contain;
  font-size: 35.8px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0f206c;
  margin-left: 5px;
}

.movie-section {
  width: 37.8vw;
}

.franchiseItemHolder {
  max-width: 60.35vw;
  height: auto;
  display: flex;
  -o-object-fit: contain;
  object-fit: contain;
  overflow: hidden;
  justify-content: center;
  z-index: -5;
  margin: 0 auto;
}

.productItemHolder {
  width: 700px;
  /* height: -webkit-fit-content; */
  height: -moz-fit-content;
  /* height: fit-content; */
  display: flex;
  -o-object-fit: contain;
  object-fit: contain;
  justify-content: center;
  overflow: hidden;
  z-index: -5;
  top: 0px;
  left: 57%;
  margin-top: 23px
    /* margin-bottom: 50%; */
}

.Fold4 {
  position: relative;
  max-width: 1903px;
  margin: 0 auto;
}

.tabletMockup {
  width: 100%;
  /* height: 768px; */
  -o-object-fit: contain;
  object-fit: contain;
  z-index: -1;
  content: url(/assets/homepage/holding_tablet.png);
}

.playingLearning {
  width: 472px;
  height: 152px;
  -o-object-fit: contain;
  object-fit: contain;
  font-size: 75.8px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 90px;
  letter-spacing: normal;
  text-align: left;
  color: #0f206c;
  position: absolute;
  top: 280px;
  right: 195px;
  pointer-events: none;
}

.bottomLearning {
  top: 370px;
}

.With {
  width: fit-content;
  height: 26px;
  -o-object-fit: contain;
  object-fit: contain;
  font-size: 35.8px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0f206c;
  position: absolute;
  top: 520px;
  right: 20.5%;
  pointer-events: none;
}

.LearnMoreBtnContF4 {
  cursor: pointer;
  position: absolute;
  right: 399px;
  top: 740px;
}

.Fold5 {
  height: 656px;
  margin: 0 auto;
  max-width: 1903px;
  position: relative;
}

.Fold5Left {
  width: fit-content;
  height: auto;
  float: left;
  padding-left: 350px;
  padding-top: 70px;
}

.Fold5Right {
  width: 50%;
  height: 100%;
  float: right;
}

.OurLegacy {
  height: 27px;
  -o-object-fit: contain;
  object-fit: contain;
  font-size: 35.8px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0f206c;
  margin-top: 80px;
}

.CONVERSIONbtnContFold3 {
  top: 90%;
  right: 0;
  left: 0;
  cursor: pointer;
  /* margin-top: 20%; */
  margin: 0 auto;
}

.BGStrip {
  max-width: 1903px;
  height: 27px;
  object-fit: contain;
  background-image: linear-gradient(to top, #5a2b95, #1b236e);
  margin: 0 auto;
}

#product-arrowLeft {
  display: none;
}

#product-arrowRight {
  display: none;
}

/*----------------------------------------------LAPTOP--------------------------------------------------*/
@media only screen and (max-width: 1024px) {
  .Fold1 {
    height: 70vh;
  }

  .Fold2 {
    height: auto;
  }

  .Fold2Left {
    padding-top: 0;
  }

  .Characters {
    top: 10vh;
  }

  .Fold2Right {
    padding-left: 4vw;
    padding-top: 6%;
    height: auto;
  }

  .franchiseItemHolder {
    max-width: 70.35vw;
    height: auto;
    display: flex;
    -o-object-fit: contain;
    object-fit: contain;
    overflow: hidden;
    justify-content: center;
    z-index: -5;
    margin: 8vh auto;
  }

  .franchiseItemHolder a:first-child {
    margin-left: 70vw;
  }

  .franchisesItem {
    width: 70vw;
  }

  .playingLearning {
    top: -30px;
    right: 35px;
  }

  .With {
    top: 200px;
    right: 245.797px;
  }

  .KantoDisneyLogoF4 {
    top: 310px;
    right: 80px;
  }

  .LearnMoreBtnContF4 {
    right: 233px;
    top: 430px;
  }

  .CONVERSIONbtnF4 {
    right: 151px;
    top: 480px;
  }

  .Fold5 {
    height: 586px;
  }

  .Fold5Left {
    padding-left: 5vw;
  }

  .Fold5Right {
    width: auto;
    height: auto;
    float: right;
    bottom: 0;
    position: relative;
  }

  .movie-section {
    width: fit-content;
    bottom: 0;
    height: 100%;
  }

  .productItemHolder {
    width: 40vw;
    height: -moz-fit-content;
    display: flex;
    -o-object-fit: contain;
    object-fit: contain;
    justify-content: center;
    overflow: hidden;
    z-index: -5;
    top: 0;
    height: 81.5vh;
    right: 0px;
    left: 0;
    margin-top: 0;
  }

  .productItem {
    width: 40vw;
    height: 60vh;
    margin-top: 21.5vh;
  }
}

/*----------------------------------------------MOBILE--------------------------------------------------*/
@media only screen and (max-width: 769px) {
  .Fold1 {
    height: 100vh;
    box-shadow: 0px 5px 5.8px 0.2px rgba(0, 0, 0, 0.17);
  }

  .Fold1BackgroundImg {
    position: absolute;
    left: auto;
    width: 100%;
    height: 100vh;
    content: url(/assets/homepage/Mobile/fold_1.png);
  }

  .playBtnCont {
    cursor: pointer;
    margin-left: auto;
    width: max-content;
    margin-right: auto;
    top: 0;
    right: 0;
    margin-top: 40vh;
    height: auto;
    left: 0;
    position: absolute;
    pointer-events: all;
  }

  .fold1LeftOveray {
    width: 100vw;
    height: auto;
    position: absolute;
    margin: 0;
    bottom: 2%;
    text-align: center;
    display: block;
  }

  .playBtn {
    width: 80%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    opacity: 0.9;
    margin: 0 auto;
    display: block;
  }

  .CONVERSIONbtnCont {
    width: fit-content;
    left: 0;
    right: 0;
    z-index: 6;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    pointer-events: all;
    text-align: center;
    cursor: pointer;
    position: initial;
  }

  .AddEnglishToTheirStory {
    object-fit: contain;
    font-size: 5vw;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.2px;
    text-align: center;
    color: #0f206c;
    bottom: 9vh;
    left: 0;
    position: initial;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
  }

  .CONVERSIONbtn {
    object-fit: contain;
    width: 40vh;
  }

  .KantoDisneyLogo {
    width: 40vw;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    display: block;
    right: 0;
    position: initial;
    margin: 0 auto;
  }

  .Fold2 {
    height: fit-content;
    position: relative;
    -o-object-fit: contain;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    object-fit: contain;
    max-width: 100vw;
    margin-top: 2vh;
    background: white;
    box-shadow: 0px 5px 5.8px 0.2px rgba(0, 0, 0, 0.17);
  }

  .Fold2Right {
    width: 100vw;
    display: grid;
    height: auto;
    padding: 0;
    padding-top: 5%;
    text-align: center;
    grid-row-gap: 0vh;
    grid-template-rows: 10vh auto auto auto;
  }

  .WelcomeTo {
    height: auto;
    width: 100vw;
    -o-object-fit: contain;
    object-fit: contain;
    font-size: 6vw;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    position: relative;
    color: #0f206c;
    margin: 0px;
  }

  .KantoDisneyLogo2 {
    max-width: 80vw;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
  }

  .TheUltimate {
    width: 71vw;
    height: 55px;
    -o-object-fit: contain;
    object-fit: contain;
    font-size: 1em;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-top: 10px;
    color: #0f206c;
    margin-left: auto;
    margin-right: auto;
  }

  .LearnMoreBtnCont {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 0px !important;
    display: block;
    padding-bottom: 0px;
    margin-top: 0px;
    height: auto;
    top: 0;
    width: 100vw;
  }

  .CONVERSIONbtnCont2 {
    display: none;
  }

  .Fold2Left {
    display: grid;
    position: relative;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 10vh;
  }

  .Characters {
    max-width: 55vw;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    margin: 0 auto;
    top: 200px;
    margin: 0 auto;
    position: initial;
    display: none;
  }

  .GIF {
    max-width: 90vw;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    margin: 0 auto;
  }

  .Fold3 {
    max-width: 100vw;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 2vh;
    background: white;
    padding-bottom: 10vh;
    box-shadow: 0px 5px 5.8px 0.2px rgba(0, 0, 0, 0.17)
  }

  .LearnEnglish {
    height: 27px;
    -o-object-fit: contain;
    object-fit: contain;
    font-size: 6vw;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0f206c;
    margin-top: 0;
    padding-bottom: 6vh;
    padding-top: 10vh;
  }

  .Fold3_SecondRow {
    width: 100vw;
    margin-top: 0;
    text-align: -webkit-center;
    vertical-align: middle;
  }

  .DisneyLogoVector {
    width: 30vw;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    top: 1vh;
    position: relative;
  }

  .MovieWord {
    object-fit: contain;
    font-size: 6vw;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    vertical-align: super;
    letter-spacing: normal;
    text-align: center;
    color: #0f206c;
    margin-left: 5px;
  }

  .movie-section {
    width: 100vw;
  }

  .franchiseItemHolder {
    max-width: 90vw;
    height: auto;
    display: flex;
    -o-object-fit: contain;
    object-fit: contain;
    overflow: hidden;
    justify-content: center;
    z-index: -5;
    margin: 0 auto;
  }

  .franchisesItem {
    margin-left: 10vw;
    margin-right: 10vw;
    height: 63vw;
    width: auto;
  }

  #movie-leftArrow {
    display: none;
  }

  #movie-rightArrow {
    display: none;
  }

  .franchiseItemHolder a:first-child {
    margin-left: 108vw;
    height: 63vw;
  }

  .franchisesItemDotsHolder {
    display: flex;
    justify-content: space-evenly;
    padding-left: 20%;
    padding-right: 20%;
  }

  .franchisesItemDots {
    width: 10px;
    height: 10px;
  }

  .CONVERSIONbtnContFold3 {
    display: none;
  }

  .Fold3 .LearnMoreBtnCont {
    display: none;
  }

  .tabletMockup {
    width: 100vw;
    -o-object-fit: contain;
    object-fit: contain;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    content: url(/assets/homepage/Mobile/holding_tablet.png);
  }

  .playingLearning {
    width: auto;
        -o-object-fit: contain;
        object-fit: contain;
        height: auto;
        font-size: 7vw;
        font-weight: 800;
        line-height: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: initial;
        text-align: center;
        color: #0f206c;
        top: 0;
        position: relative;
        left: 0;
        margin: 0 auto;
        right: 0;
        padding-top: 3%;
        padding-bottom: 3%;
        pointer-events: none;
  }

  .With {
    width: 100vw;
    height: 26px;
    -o-object-fit: contain;
    object-fit: contain;
    font-size: 5vw;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-top: 0.5vh;
    text-align: center;
    color: #0f206c;
    right: 0;
    position: relative;
    left: 0;
    top: 0;
    pointer-events: none;
    margin-bottom: 15px;
  }

  .KantoDisneyLogoF4 {
    width: 45vw;
      height: auto;
      -o-object-fit: contain;
      object-fit: contain;
      position: initial;
      right: 0;
      display: block;
      left: 0;
      top: 0;
      margin: 2% auto;
      margin-left: auto;
      margin-right: auto;
  }

  .Fold4 {
    height: 90vh;
    top: 0px;
    max-width: 100vw;
    box-shadow: 0px 5px 5.8px 0.2px rgba(0, 0, 0, 0.17);
    margin-top: 2vh;
    background-image: url(/assets/homepage/Mobile/holding_tablet.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .tabletMockup {
    display: none;
  }

  .LearnMoreBtnCont {
    position: relative;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      display: block;
      padding-bottom: 5%;
      height: auto;
      text-decoration: underline;
      top: 0;
      width: 100vw;
  }

  .LearnMoreBtnContF4 {
    cursor: pointer;
    /* position: absolute; */
    /* right: 350px; */
    right: 0;
    left: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    /* top: 760px; */
  }

  .CONVERSIONbtnF4 {
    display: none;
  }

  .Fold5 {
    height: fit-content;
    margin: 0 auto;
    margin-top: 2vh;
    max-width: 100vw;
    position: relative;
    background: white;
  }

  .Fold5Left {
    height: fit-content;
    width: 100vw;
    margin: 0 auto;
    padding: 0px;
    float: none;
  }

  .OurLegacy {
    height: 27px;
    -o-object-fit: contain;
    object-fit: contain;
    font-size: 8vw;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0f206c;
    margin-top: 0;
    padding-top: 5vh;
  }

  .CONVERSIONbtnCont3 {
    visibility: hidden;
  }

  .expanding {
    height: 27px;
    object-fit: contain;
    font-size: 4vw;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0f206c;
    margin: 0;
    padding: 1vh;
  }

  .leading {
    width: auto;
    height: auto;
    font-size: 4vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    padding: 5vw;
    margin-top: 0;
    color: #0f206c;
  }

  .Fold5Right {
    width: 100vw;
    position: relative;
    height: auto;
    float: none;
    margin-top: 0;
  }

  .productItemHolder {
    width: 100vw;
    display: flex;
    -o-object-fit: contain;
    object-fit: contain;
    justify-content: center;
    overflow: hidden;
    z-index: -5;
    top: 0px;
  }

  #product-arrowLeft {
    display: none;
  }

  #product-arrowRight {
    display: none;
  }

  .conversionContatiner3 {
    display: none;
  }

  .productItem {
    width: 100vw;
    height: auto;
    margin-top: auto;
  }
}

@-moz-document url-prefix() {
  .franchisesItem {
    width: 1158px;
    height: 554px;
  }

  .productItem {
    width: 607px;
    height: 633px;
  }
}
