<div class="container">
  <div class="Fold1">



    <img [style.z-index]="fold1BackgroundZIndexActual" src="./assets/homepage/fold_1.png"
         srcset="./assets/homepage/fold_1@2x.png,
                 ./assets/homepage/fold_1@3x.png"
         class="Fold1BackgroundImg">
    <a class="playBtnCont" (click)="openPlayer()">
      <img src="./assets/homepage/play_btn.png"
     srcset="./assets/homepage/play_btn@2x.png 2x,
             ./assets/homepage/play_btn@3x.png 3x"
     class="playBtn">
    </a>
    <img src="./assets/homepage/kanto_disney_logo.png"
     srcset="./assets/homepage/kanto_disney_logo@2x.png 2x,
             ./assets/homepage/kanto_disney_logo@3x.png 3x"
     class="KantoDisneyLogo">
     <label class="AddEnglishToTheirStory">{{addEnglishText | uppercase}}</label>
     <a class="CONVERSIONbtnCont">
       <img src="./assets/homepage/conversion_btn.png"
      srcset="./assets/homepage/conversion_btn@2x.png 2x,
              ./assets/homepage/conversion_btn@3x.png 3x"
      class="CONVERSIONbtn">
     </a>
  </div>

  <div class="Fold2">
    <div class="Fold2Left">
      <img src="./assets/homepage/characters.png"
           srcset="./assets/homepage/characters@2x.png 2x,
                   ./assets/homepage/characters@3x.png 3x"
           class="Characters">
           <img src="./assets/homepage/P2_Gif.gif"
     srcset="./assets/homepage/gif@2x.png 2x,
             ./assets/homepage/gif@3x.png 3x"
     class="GIF">

    </div>
    <div class="Fold2Right">
        <label class="WelcomeTo">{{welcomeToText | uppercase}}</label>

        <img src="./assets/homepage/kanto_disney_logo.png"
     srcset="./assets/homepage/kanto_disney_logo@2x.png 2x,
             ./assets/homepage/kanto_disney_logo@3x.png 3x"
     class="KantoDisneyLogo2">

     <label class="TheUltimate">{{ultimate}}</label>

     <a class="LearnMoreBtnCont"><img src="./assets/homepage/learn_more_btn.png"
     srcset="./assets/homepage/learn_more_btn@2x.png 2x,
             ./assets/homepage/learn_more_btn@3x.png 3x"
     class="LearnMoreBtn"></a>

     <a class="CONVERSIONbtnCont2">
       <img src="./assets/homepage/conversion_btn.png"
      srcset="./assets/homepage/conversion_btn@2x.png 2x,
              ./assets/homepage/conversion_btn@3x.png 3x"
      class="CONVERSIONbtn2">
     </a>
    </div>
  </div>

  <div class="Fold3">
    <p class="LearnEnglish">{{learnEnglish | uppercase}}</p>
    <p class="Fold3_SecondRow">
    <img src="./assets/homepage/disney_logo_vector.png"
     srcset="./assets/homepage/disney_logo_vector@2x.png 2x,
             ./assets/homepage/disney_logo_vector@3x.png 3x"
     class="DisneyLogoVector">
     <span class="MovieWord">{{movieWord | uppercase}}</span>
     </p>
     <a class="LearnMoreBtnCont"><img src="./assets/homepage/learn_more_btn.png"
     srcset="./assets/homepage/learn_more_btn@2x.png 2x,
             ./assets/homepage/learn_more_btn@3x.png 3x"
     class="LearnMoreBtn"></a>

      <div style="display:flex;margin-top: 50px;">
     <a style="float:left;margin-left: 100px;margin-top: 150px" (click)="incrementIndex()">
       <img class="arrow" src="./assets/homepage/left_arrow.png"
          srcset="./assets/menu/arrow_left@2x.png 2x,
                  ./assets/menu/arrow_left@3x.png 3x" [src]="imgSrcLeft"  (mouseover)="imgSrcLeft = 'assets/homepage/Arrow_Hover_Left.png'"
              (mouseout)="imgSrcLeft = 'assets/homepage/left_arrow.png'" >
        </a>
     <div class="movie-section" [@.disabled]="isDisabled">
        <div class="franchiseItemHolder" >
          <img class="franchisesItem"  *ngFor="let franchise of franchises; index as i" [src]="franchises[i].name" [@move]="{value: viewIndex, params: {moveOffset: moveOffset, moveOffsetAnim: moveOffsetAnim }}">
        </div>

     </div>
     <a style="float:right;margin-top: 150px;margin-right: 100px" (click)="decrementIndex()">
       <img class="arrow" src="./assets/homepage/right_arrow.png"
          srcset="./assets/menu/arrow_right@2x.png 2x,
                  ./assets/menu/arrow_right@3x.png 3x" [src]="imgSrcRight"  (mouseover)="imgSrcRight = 'assets/homepage/Arrow_Hover_Right.png'"
              (mouseout)="imgSrcRight = 'assets/homepage/right_arrow.png'" >
        </a>
        </div>
        <a class="CONVERSIONbtnCont2">
          <img src="./assets/homepage/conversion_btn.png"
         srcset="./assets/homepage/conversion_btn@2x.png 2x,
                 ./assets/homepage/conversion_btn@3x.png 3x"
         class="CONVERSIONbtn2" style="margin-top: 2.5%;">
        </a>
  </div>

  <div class="Fold4">
    <img src="./assets/homepage/holding_tablet.png"
     class="tabletMockup">
     <p class="playingLearning">{{playing | uppercase}}</p>
     <p class="With">WITH</p>
     <img src="./assets/homepage/kanto_disney_logo.png"
      srcset="./assets/homepage/kanto_disney_logo@2x.png 2x,
              ./assets/homepage/kanto_disney_logo@3x.png 3x"
      class="KantoDisneyLogoF4" >
      <a class="LearnMoreBtnCont"><img src="./assets/homepage/learn_more_btn.png"
      srcset="./assets/homepage/learn_more_btn@2x.png 2x,
              ./assets/homepage/learn_more_btn@3x.png 3x"
      class="LearnMoreBtnContF4"></a>
      <a class="CONVERSIONbtnF4">
        <img src="./assets/homepage/conversion_btn.png"
       srcset="./assets/homepage/conversion_btn@2x.png 2x,
               ./assets/homepage/conversion_btn@3x.png 3x"
       class="CONVERSIONbtn2" style="margin-top: 2.5%;">
      </a>
  </div>

  <div class="Fold5">
    <div class="Fold5Left">
    <p class="OurLegacy">{{ourLegacy | uppercase}}</p>
    <img src="./assets/homepage/expanding.png" >
    <p style="margin-top: 50px;cursor:pointer"><a class="CONVERSIONbtnCont3">
      <img src="./assets/homepage/conversion_btn.png"
     srcset="./assets/homepage/conversion_btn@2x.png 2x,
         ./assets/homepage/conversion_btn@3x.png 3x">
    </a>
    </p>
  </div>
    <div class="Fold5Right">
      <div style="display:flex;">
     <a style="float:left;margin-top: 300px" (click)="incrementIndex2()">
       <img class="arrow" src="./assets/homepage/left_arrow.png"
          srcset="./assets/menu/arrow_left@2x.png 2x,
                  ./assets/menu/arrow_left@3x.png 3x" [src]="imgSrcLeft"  (mouseover)="imgSrcLeft = 'assets/homepage/Arrow_Hover_Left.png'"
              (mouseout)="imgSrcLeft = 'assets/homepage/left_arrow.png'" >
        </a>
     <div class="movie-section" [@.disabled]="isDisabled">
        <div class="productItemHolder" >
          <img *ngFor="let product of products; index as i" [src]="products[i].name" [@move]="{value: viewIndex2, params: {moveOffset: moveOffset, moveOffsetAnim: moveOffsetAnim }}">
        </div>

     </div>
     <a style="float:right;margin-top: 300px;margin-right: 100px" (click)="decrementIndex2()">
       <img class="arrow" src="./assets/homepage/right_arrow.png"
          srcset="./assets/menu/arrow_right@2x.png 2x,
                  ./assets/menu/arrow_right@3x.png 3x" [src]="imgSrcRight"  (mouseover)="imgSrcRight = 'assets/homepage/Arrow_Hover_Right.png'"
              (mouseout)="imgSrcRight = 'assets/homepage/right_arrow.png'" >
        </a>
        </div>
      </div>
      </div>

    <div class="strip">
      <p class="BGStrip" style="margin: 0;"></p>
    </div>

  <app-contactus></app-contactus>
</div>
