<a style="margin-left: 700px;cursor:pointer" (click)="closePopUp()">
  <div _ngcontent-c2="" class="ng-tns-c2-0 open promoPopup" id="nav-icon3"><span _ngcontent-c2="" class="ng-tns-c2-0"></span><span _ngcontent-c2="" class="ng-tns-c2-0"></span><span _ngcontent-c2="" class="ng-tns-c2-0"></span><span _ngcontent-c2=""
      class="ng-tns-c2-0"></span></div>
</a>
<!--<youtube-player
[videoId]="id"
[width] = "width"
[height] = "height"
(ready)="savePlayer($event)"
(change)="onStateChange($event)"

></youtube-player>-->
<iframe [width]="width" [height]="height" src="https://www.youtube.com/embed/5Q6esf_N-0s?&autoplay=1" frameborder="0" allowfullscreen></iframe>
