.movieImage {
  width: 83%;
  height: 85px;
  object-fit: contain;
  margin-left: 30px;
  transition: transform .2s;
}

.movieImage:hover {
  transform: scale(1.1);
}

.activeMovie {
  transform: scale(1.1) !important;
}

.movieText {
  width: 32px;
  height: 11px;
  object-fit: contain;
  background-image: linear-gradient(to top, #5a2b95, #1b236e), linear-gradient(to bottom, #ffffff, #ffffff);
  font-family: OpenSans;
  font-size: 12.7px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


@media only screen and (max-width: 769px) {
  .movieImage{
    width: 80%;
  height: 80%;
  }


}
